

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,
img, ins, kbd, q, s, samp, small, strike,
strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article,
aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video,
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10,
.col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7,
.col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12,
.col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto,
.col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5,
.col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11,
.col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9,
.col-xl-auto, .row, .container-fluid{
	padding: 0;
	margin: 0;
}

:root {
--bs-primary: #7a2b2b;
}

h1 {
  font-size: calc(1.375rem + 1.5vw);
}
@media (min-width: 1200px) {
  h1 {
    font-size: 6rem;
  }
}

h2 {
  font-size: calc(1.325rem + 0.9vw);
}
@media (min-width: 1200px) {
  h2 {
    font-size: 2rem;
  }
}

h3, .h3 {
  font-size: calc(1.3rem + 0.6vw);
}
@media (min-width: 1200px) {
  h3, .h3 {
    font-size: 2rem;
  }
}

h4, .h4 {
  font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
  h4, .h4 {
    font-size: 3rem;
  }
}

h5, .h5 {
  font-size: 2rem;
}

h6, .h6 {
  font-size: 1rem;
}

h3{
    font-weight: bolder;
}

.title h2{
    color: #ffffff;
}

 a {
    
    text-decoration: none;
}

.titleI a{
  color: #ffffff;
  transition: text-shadow 500ms;
}

.titleI a:hover{
    color: #7a2b2b;
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FFF 0px 0px 20px, #FFF 0px 0px 25px, #FFF 0px 0px 30px;
    
    

}

.titleA h3{
  text-transform: uppercase;
}

main a{

    
    color: black;
}

main a:hover{
    color: #7a2b2b;
    
}


.err{
    color: #7a2b2b;
    font-style: italic;
}

.btn-primary{
  margin-top: 1rem;
  background-color: rgba(255, 255, 255, 0);
  font-weight: bold;
  border-color: #7a2b2b;
}

.btn-primary:hover {
  color: #fff;
  background-color: #7a2b2b;
  border-color: #7a2b2b;
}

p{
  font-size: large;
}

#pensee_globaleI .text{
  margin: 2rem 2rem;
}


/*<---------------------------------------------Header--------------------------------------------->*/

#pensee_globale .text{
  margin: 2rem 2rem;
}

#download{/*<---------------------------------------------set width container--------------------------------------------->*/
  
}




/*<---------------------------------------------Header--------------------------------------------->*/
.parent-img{
    position: relative;

}


nav .container-fluid{
    background-color: #5a5a5a;
}


.navbar-nav{
  margin-top: 1rem;
  padding-bottom: 1rem;
}

.navbar-toggler {
  margin-top: .25rem;
  margin-left: .25rem;
  margin-bottom: .25rem;
}

.navbar-toggler-icon {
  
  border: 1px solid #662222 ;
  
}

nav ul{
    justify-content: space-evenly;
}


.nav-item a{
    color: #662222;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow:0;
    transition: text-shadow 500ms ease-in-out ;

}


.nav-item a:hover{
  
  text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FFF 0px 0px 20px, #FFF 0px 0px 25px, #FFF 0px 0px 30px;

}

@media screen and (max-width: 480px) {
    nav ul { display: none; }
    nav select { display: inline-block; }
}

/* Width Covers 481px-768px */
@media screen and (min-width: 768px) {
    body {

    }

}

/* Width Covers 769px-1025px (and greater) */
@media screen and (min-width: 1025px) {
  body {

  }

}


/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
padding: 15px 15px;
display: inline-block;
cursor: pointer;
transition-property: opacity, filter;
transition-duration: 0.15s;
transition-timing-function: linear;
font: inherit;
color: inherit;
text-transform: none;
background-color: transparent;
border: 0;
margin: 0;
overflow: visible; }

.hamburger:hover {
opacity: 0.7; }

.hamburger.is-active:hover {
opacity: 0.7; }

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
background-color: #000; }

.hamburger-box {
width: 40px;
height: 24px;
display: inline-block;
position: relative; }

.hamburger-inner {
display: block;
top: 50%;
margin-top: -2px; }

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
width: 40px;
height: 4px;
background-color: #000;
border-radius: 4px;
position: absolute;
transition-property: transform;
transition-duration: 0.15s;
transition-timing-function: ease; }

.hamburger-inner::before, .hamburger-inner::after {
content: "";
display: block; }

.hamburger-inner::before {
top: -10px; }

.hamburger-inner::after {
bottom: -10px; }

.hamburger--slider-r .hamburger-inner {
top: 2px; }

.hamburger--slider-r .hamburger-inner::before {
top: 10px;
transition-property: transform, opacity;
transition-timing-function: ease;
transition-duration: 0.15s; }

.hamburger--slider-r .hamburger-inner::after {
top: 20px; }
    
.hamburger--slider-r.is-active .hamburger-inner {
      transform: translate3d(0, 10px, 0) rotate(-45deg); }

.hamburger--slider-r.is-active .hamburger-inner::before {
        transform: rotate(45deg) translate3d(5.71429px, -6px, 0);
        opacity: 0; }

.hamburger--slider-r.is-active .hamburger-inner::after {
        transform: translate3d(0, -20px, 0) rotate(90deg); }



/*<---------------------------------------------Carrousel--------------------------------------------->*/

.carrousel-item{
	height: 32rem;
}

/*<---------------------------------------------Main Index--------------------------------------------->*/

.title{

  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(90,90,90,1) 0%, rgba(255,255,255,0) 69%);
  box-shadow:  -20px 20px 31px #8c8c8c,
               20px -20px 31px #ffffff;

}
.titleI{


    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(90,90,90,1) 0%, rgba(255,255,255,0) 69%);
    box-shadow:  -20px 20px 31px #8c8c8c,
                 20px -20px 31px #ffffff;
}

.titleA{
	font-weight: bolder;

}

.text{
    text-align: justify;
}

.quotes{
border-radius: 20px;
background: linear-gradient(225deg, #ffffff, #ffffff);
box-shadow:  -20px 20px 31px #8c8c8c,
             20px -20px 31px #ffffff;
}

.figurel{
    border-left: .60rem solid #7a2b2b;
}

.figureb{
    border-bottom: .60rem solid #7a2b2b;

}

.blockquote p strong{
    color: #7a2b2b;
    font-weight: bolder;
}

.blockquote p{
    font-size: xxx-large;
}

.carousel-inner{
    max-height: 40%;
    width: auto;
}



/*<---------------------------------------------Card--------------------------------------------->*/
.card{
  border-radius: 26px;
  background: #ffffff;
  box-shadow:  -35px 35px 70px #666666,
               0px 0px 70px #ffffff;
}

.card-body{
    background-color: #5a5a5a;
}

.card-title{
    color:#7a2b2b;
}

.card-text{
    color:#ffffff;
}

/*<---------------------------------------------A propos--------------------------------------------->*/
#bio p{
    font-size: 1.63em;
}
/*<---------------------------------------------Back office--------------------------------------------->*/
s



/*<---------------------------------------------Button--------------------------------------------->*/
.btn{
    color: #ffffff;
    background-color: #7a2b2b;
}

/*<---------------------------------------------Footer--------------------------------------------->*/

div .border{
    border: 1.12em solid #5a5a5a;

}

.footer-row{
    background-color:#3c3c3c ;
    margin-bottom: 0rem;

}



.footer-link_menu{
    padding: 1%;
}

.footer-link_menu a{
    color: #ffffff;
    text-decoration: none;
}

.footer-link_menu a:hover{
    color: #7a2b2b;
}


/*<------------------cdn check------------>*/
.fab{
    color: aliceblue;
    font-size: 1em;
}


/*<------------------Back office------------>*/

