a {
    text-decoration: none;
}


.parent-img{
    position: relative;
    
}
.parent-img-responsive{
    width:100%;
    height:auto;	
}

.child-img{
    position: absolute;
    left: 15%;
    right: 0;
}

.nav-container{
    
    z-index: 1;
    background-color:#5a5a5a ;
    
}

.nav-link_menu.col-lg-2{
    justify-content: space-evenly;
    
}

.nav-link_menu{
    background-color:#5a5a5a ;
    
}

.nav-link_menu a{
    color: #ffffff;
    text-decoration: none;
    
}



