a {
    text-decoration: none;
    
}

/*<---------------------------------------------Header--------------------------------------------->*/
.parent-img{
    position: relative;
    
}
.parent-img-responsive{
    width:100%;
    height:auto;	
}

.child-img{
    position: absolute;
    left: 15%;
    right: 0;
}

.nav-container{
    padding: 6px;
    z-index: 1;
    background-color:#5a5a5a ;
    
}


nav{
    background-color:#5a5a5a ;
    justify-content: space-evenly;   
}

#navbarText {
    justify-content: space-evenly; 
}

.navbar-toggler, .navbar-toggler{
    color: #ffffff;

}

.nav-item a{
    color: #662222;
    text-decoration: none;
    font-size:18px;
    font-weight: bold;
    
}

.nav-item a:hover{
    color: #7a2b2b;
    text-decoration: none;

}

@media screen and (max-width: 480px) { 
    nav ul { display: none; }
    nav select { display: inline-block; }
}

/* Width Covers 481px-768px */
@media screen and (min-width: 768px) {
    body {
      
    }

}

/* Width Covers 769px-1025px (and greater) */
@media screen and (min-width: 1025px) {
  body {
    
  }

}

/*<---------------------------------------------Footer--------------------------------------------->*/

.border{
    padding: 18px;
    z-index: 1;
    background-color:#5a5a5a ;
}

.footer-row{
    background-color:#3c3c3c ;
    padding: 5%;
}

.footer-link_menu{
    padding: 1%;
}

.footer-link_menu a{
    color: #ffffff;
    text-decoration: none;
}

.footer-link_menu a:hover{
    color: #7a2b2b;
}