<br>
<br>
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="title col-12 p-2">
                <h2>Pensée Globale</h2>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 mx-auto">
                <img class="img-fluid" src="../views/assets/img/de l'eversion title header.svg" alt="">
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="container-fluid" id="pensee_globale">
        <div class="row">
            <div class="col-lg-4">
                <p class="text">
                    Le yin (noir) et le yang (blanc) symbolisent les deux catégories complémentaires de la phénoménologie chinoise
                    antique pour qualifier l’ambivalence de la dualité. Alors que leur forme en « S » signifie leur mouvement
                    continuel, les points dans les deux symboles <em>yin</em> et <em>yang</em> correspondent au fait que dans l’existence rien ne
                    serait absolu. Tout comme nul n’est absolument sensé ignorer que dans la vie « rien n’est ou tout blanc ou
                    tout noir… ».
                    La volonté d’y apporter quelques nuances de gris repose donc sur cette simple idée que <strong>si rien n’est ou tout noir ou tout blanc</strong>,
                    alors autant dire que <strong>tout oscille entre le gris foncé et le gris clair</strong>. Mais relativiser ainsi cette conception dualiste manichéenne
                    n’est pas neutre. Relativiser le <em>yin-yang</em> c’est pointer que derrière la classification binaire se tapit un authentique système
                    hiérarchique. Relativiser le yin-yang en le complexifiant est tout l’enjeu de notre propos : le dépassement de la hiérarchie
                    (par elle-même).
                </p>
            </div>
            <div class="col-lg-4">
                <div class="text-center">
                    <img src="../views/assets/img/Eversion_370px.png" class="img-fluid" alt="Représentation graphique de l'éversion">
                </div>
            </div>
            <div class="col-lg-4">
                <p class="text">
                    Et pour cela, il n’y a qu’à observer.
                    Ainsi, lorsqu’on s’y
                    attarde un peu on remarque qu’apparaissent
                    schématiquement « quatre dauphins ».
                    Quatre figures imbriquées qui sont moins à considérer pour ce
                    qu’elles représentent que pour ce qu’elles signifient. Étymologiquement, le mot <strong>dauphin</strong> renvoie à celui
                    d’« utérus [matrice] ». Or telle est bien l’illustration du processus d’Éversion. L’éversion est un
                    processus qui combine quatre matrices. L’éversion est donc un processus matriciel analogique.
                    Analogiquement, la philosophie antique chinoise considère le symbole yin-yang comme celui de la complémentarité des oppositions.
                    La complexité apportée par nos soins, celle opérée par les nuances de gris que sont le <em>gris clair</em> et le <em>gris foncé</em>s, illustre elle,
                    une complémentarité entre « opposition » et « contrariété ». Dans la perspective proposée, cette complémentarité ne relève dès lors
                    plus d’une opposition mais d’une inversion.
                </p>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 mx-auto quotesBottom">
                <figure class="p-3 ">
                    <blockquote  class="blockquote mx-0 mb-0 text-center"><p>Tel est l’axiome de l’<strong id="eversion">Éversion</strong> :<br> celui de la complémentarité des <strong>inverses</strong>.</p></blockquote>
                </figure>
            </div>
        </div>
    </div>
</section>
<br>
<br>
</section>