    </main>
        <footer>
            <div class="footer-container">
                <div class="border"></div>
                    <ul class="footer-row">
                        <li class="footer-link_menu col-sm10 col-md-10  col-lg-2 ">
                            <a href="index.php?page=sites_amis">Sites amis</a>
                        </li>
                        <li class="footer-link_menu col-sm10 col-md-10  col-lg-2 ">
                            <a href="index.php?page=contact">Contact</a>
                        </li>
                        <li class="footer-link_menu col-sm10 col-md-10  col-lg-2 ">
                            <a href="index.php?page=newsletter">Newsletter</a>
                        </li> 
                        <li class="footer-link_menu col-sm10 col-md-10  col-lg-2 ">
                            <a href="index.php?page=mentions_legales">Mentions legales</a>
                        </li>
                        <li class="footer-link_menu col-sm10 col-md-10  col-lg-2 ">
                            <a href="https://fr.linkedin.com/in/pierre-andr%C3%A9-jarillot-38576682"><i class="fab fa-linkedin fa-2x"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script  src="../views/assets/js/script.js"></script>
        <script  src="../views/assets/js/splide.min.js"></script>  
    </body>
</html>